<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <title>API Endpoints</title>
</head>
<body>
    <h1>Добро пожаловать!</h1>
    <ul>
        <li><a href="/foods">Foods</a></li>
        <li><a href="/foods?name=Cookie">По имени</a></li>
        <li><a href="/foods?cat=veggie">По категории</a></li>
        <li><a href="/foods?max_kcal=200">По калорийности</a></li>
        <li><a href="/foods?sort_alphabet=true">По алфавиту</a></li>
        <li><a href="/foods?sort_kcal=true">По калорийности</a></li>
        <li><a href="/foods?sort_kcal_reverse=true">По калорийности от макс до мин</a></li>
    </ul>
    <p><a href="/logout">Выйти</a></p>
</body>
</html>