<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <title>min_max_kcal</title>
</head>
<body>
    <h3>Еда с минимальным и максимальным количеством калорий</h3>
    <p>Минимальное количество калорий: {{ min_food.icon }} {{ min_food.name }}. Категория: {{ min_food.cat }}. Калорийность: {{ min_food.kcal }}</p>
    <p>Максимальное количество калорий: {{ max_food.icon }} {{ max_food.name }}. Категория: {{ max_food.cat }}. Калорийность: {{ max_food.kcal }}</p>
    <p><a href="/">На главную</a></p>
    <p><a href="/logout">Выйти</a></p>
</body>
</html>